/* # COMMON */
html,
body {
  font-family: "Roboto", "sans-serif";
  /* Browser에서 제공하는 기본 font-size는 16px */
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* @ SUMMARY */
.summary__title {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 20px;
}

.summary__description {
  font-size: 25px;
  font-weight: 300;
  color: #767676;
  line-height: 1.5;
}

/* @ SECTION & CONTAINER */
.section {
  position: relative;
}

.section .container {
  position: relative;
  box-sizing: border-box;
  max-width: 1024px;
  /* width가 정의돼 있으면 margin: 0 auto를 이용해 중앙 정렬 가능 */
  margin: 0 auto;
}

/* # HEADER */
header {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

header .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

header .menu-group {
  height: 100%;
  display: flex;
  align-items: center;
}

header .logo {
  margin-right: 10px;
}

header .logo a {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../images/logo.svg);
  text-indent: -9999px;
}

header .logo a:hover {
  background: url("../images//logo_on.svg");
}

header .main-menu {
  display: flex;
}

header .main-menu li a {
  display: block;
  color: #3c4146;
  padding: 10px;
}

header .main-menu li a:hover {
  color: #4078c0;
}

header .sign-group {
  display: flex;
  align-items: center;
}

header .btn-group {
  order: 2;
  display: flex;
}

header .btn-group .sign-in {
  margin-right: 4px;
}

#search-form {
  order: 1;
  margin-right: 12px;
}

header .sub-menu {
  display: flex;
  margin-right: 10px;
}

header .sub-menu li a {
  display: block;
  color: #3c4146;
  font-size: 12px;
  padding: 8px;
}

header .sub-menu li a:hover {
  color: #4078c0;
}

#search {
  width: 160px;
  font-size: 12px;
}

#search + [type="submit"] {
  display: none;
}

/* # VISUAL */
.section--visual {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}

.section--visual::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.section--visual .container {
  padding: 160px 0;
  display: flex;
}

.section--visual .summary {
  flex: 1;
  margin-right: 90px;
}

.section--visual .summary__title {
  color: #fff;
  font-size: 54px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 25px rgba(0, 0, 0, 0.75);
}

.section--visual .summary__description {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 25px rgba(0, 0, 0, 0.75);
}

#sign-form {
  width: 340px;
  margin-top: 16px;
}

#sign-form li {
  margin-bottom: 16px;
}

#sign-form li:last-child {
  margin-bottom: 0;
}

#sign-form .input--text {
  width: 100%;
  height: 40px;
}

#sign-form .caption {
  font-size: 12px;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
  text-align: center;
}

#sign-form [type="submit"] {
  width: 100%;
  height: 62px;
  padding: 0 25px;
  font-size: 20px;
  justify-content: center;
}

/* # FEATURE */
.section--feature {
  background: #f5f5f5;
  padding-top: 66px;
}

.section--feature .summary {
  max-width: 820px;
  /* 'margin: 0 auto'는 width가 정의돼 있어야 중앙 정렬 */
  margin: 0 auto;
  text-align: center;
}

.section--feature .video {
  max-width: 650px;
  margin: 50px auto;
}

.section--feature .video .video-ratio {
  height: 0;
  padding-top: 56.25%;
  position: relative;
}

.section--feature .video .video-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.section--feature .tiles {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.section--feature .tiles .container {
  max-width: 1200px;
}

.section--feature .tiles ul {
  display: flex;
}

.section--feature .tiles li {
  padding: 34px 24px;
  text-align: center;
  line-height: 1.5;
  border-right: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.section--feature .tiles li:last-child {
  border-right: none;
}

.section--feature .tiles li img {
  max-width: 100%;
  padding: 14px 10% 24px;
  box-sizing: border-box;
}

.section--feature .tiles li h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.section--feature .tiles li p {
  font-size: 14px;
  color: #767676;
}

/* # WHERE IS */
.section-where-is {
}

.section-where-is .container {
  padding-top: 80px;
}

#map {
  width: 100%;
  height: 400px;
  margin-top: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

/* # BTN */
.btn {
  position: relative;
  height: 40px;
  background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
  color: #333;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.07);
}

.btn.btn--primary {
  border: 1px solid #65b836;
  color: #fff;
  background: #55a532 linear-gradient(#91dd70, #55ae2e);
}

/* @ Input */
.input--text {
  height: 34px;
  font-size: 16px;
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  /* 
    기본적으로 Box 외부에 shadow가 생성되지만,
    inset을 사용하면, Box 내부에 shadow 생성
  */
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.input--text:focus {
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
    0 0 5px rgba(81, 167, 232, 0.5);
}

/* 
  Vendor Prefix - Browser별 접두사
  -webkit-: Chrome, Safari
  -ms-: explore, edge
  -moz-: firefox
  -o-: opera
*/
.input--text::-webkit-input-placeholder {
  color: #cacaca;
}

.input--text::-ms-input-placeholder {
  color: #cacaca;
}

.input--text::-moz-input-placeholder {
  color: #cacaca;
}
